.card {
    display: flex;
    margin-top: 20px;
    margin-left: 200px;
  }
  
.button {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  margin-right: 21%;
  margin-left: 21%;
}

.input {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  margin-right: 21%;
  margin-left: 21%;
}

.fight {
  display: inline-block;
  margin: 25px;
  margin-top: auto;
  margin-bottom: auto;
}


.inputBase {
  border: 2px solid #A2242F;
  border-radius: 40px;
  height: 40px;
  width: 210px;
  padding: 0 11px;
  font-size: 14px;
  text-align: center;
}