.wrapper {
    display: grid;
    grid-template-columns: 180px minmax(320px, 1600px);
    grid-template-rows: auto 1fr  auto;
    min-height: 100vh;
    grid-template-areas: 
    "header header "
    "sidebar body"
    "footer footer ";
}

.header {
    grid-area: header;
    display: none;
}

.sidebar {
    grid-area: sidebar;
    background-color: #855AC9;
}

.body {
    grid-area: body;
    background-color: rgb(145, 145, 145,0.4);
}

.footer {
    grid-area: footer;
}

@media (max-width: 765px){
    .wrapper {
        grid-template-columns: minmax(320px, 1fr);
        grid-template-areas: 
    "header"
    "body"
    "footer";
    }
    .sidebar {
        display: none;
    }
    .header {
        display: block;
    }
}