.header {
    display: grid;
    grid-template-columns: 1fr auto auto;
    gap: 10px 40px;

    color: white;
    font-size: 20px;
    line-height: 20px;

    background-color: #0075BE;
    padding: 25px 30px;
}

.header a {
    color: #FFCC00;
    text-decoration: none;
}

.header a:hover {
    color: #D5A100;
}

@media (max-width: 765px){
    .header {
        grid-template-columns: 1fr;
    }
}