.footer {
    display: grid;
    grid-template-columns: 1fr auto auto;
    gap: 10px 40px;

    color: #FF4136;
    font-size: 20px;
    line-height: 20px;
    font-weight: 700;
    background-color: inherit;
    padding: 25px 30px;
    position: relative;
    bottom: 0;
}

.footer a {
    color: #111111;
    text-decoration: none;
}

.footer a:hover {
    color: whitesmoke;
    transition-duration: 250ms;
}

@media (max-width: 765px){
    .footer {
        grid-template-columns: 1fr;
    }
}